.sib-dashicon-picker {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 8px;
}

.sib-dashicon-btn {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;

	.dashicons {
		font-size: 20px;
	}

	&.is-pressed {
		border-color: #6f22dd;
		background: rgba(111, 34, 221, 0.1);
	}
}
