.stepper-container {
	display: flex;
	align-items: center;
	width: 100%;
}

.stepper-box-groups {
	display: flex;
	align-items: center;
	border: 1px solid #ddd;
	width: 100%;
}

.stepper-box {
	display: flex;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 32px;
	border-right: 1px solid #ddd;
}

.stepper-box input {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	border: none;
	outline: none;
	font-size: 14px;
	background: white;
}

.stepper-box input:focus,
.stepper-box button:focus,
.stepper-box button:focus-visible {
	outline: none;
	box-shadow: none;
}

input::-webkit-inner-spin-button {
	height: 22px;
	padding: 4px 0px;
	background: #ddd;
}

.stepper-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #ddd;
}

.stepper-buttons button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border: none;
	background: #f5f5f5;
	font-size: 10px;
	cursor: pointer;
}

.stepper-buttons button:hover {
	background: #e5e5e5;
}

.link-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 34px;
	background: #7c3aed;
	font-size: 16px;
	cursor: pointer;
	border: none;
	color: white;

	&.active {
		background: #fff;
		color: black;
	}
}

.counter-corner-0 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 8px;
	height: 8px;
	border-top: 2px solid #333;
	border-left: 2px solid #333;
}

.counter-corner-1 {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 8px;
	height: 8px;
	border-top: 2px solid #333;
	border-right: 2px solid #333;
}

.counter-corner-2 {
	position: absolute;
	bottom: 1px;
	right: 1px;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #333;
	border-right: 2px solid #333;
}

.counter-corner-3 {
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #333;
	border-left: 2px solid #333;
}

/* Top */
.padding-margin-indicator-0 {
	position: absolute;
	top: 0;
	left: 12px;
	width: 28px;
	border-top: 2px solid #333;
}

/* Right */
.padding-margin-indicator-1 {
	position: absolute;
	right: 0;
	top: 4px;
	height: 20px;
	border-right: 2px solid #333;
}

/* Bottom */
.padding-margin-indicator-2 {
	position: absolute;
	bottom: 0;
	left: 12px;
	width: 28px;
	border-bottom: 2px solid #333;
}

/* Left */
.padding-margin-indicator-3 {
	position: absolute;
	left: 0;
	top: 4px;
	height: 20px;
	border-left: 2px solid #333;
}