.wp-block-create-block-smart-info-box-itemsssssss {
	padding: 0px;
	position: relative;
	font-family: Inter;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a,
	span {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		display: flex;
		justify-items: center;
		align-items: center;
		gap: 6px;
	}

	.wp-block-create-block-smart-info-box-item-container {
		display: grid;

		.media-container-placeholder {
			display: flex;
			align-items: center;
			justify-content: center;

			img,
			svg {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.badge {
			position: absolute;
			background: #e0e0e0;
			padding: 6px 12px 6px 12px;

			p {
				font-size: 13px;
				font-weight: 500;
			}
		}

		&.default {
			align-items: center;
			text-align: center;
			gap: 12px;

			.media-container-placeholder,
			img,
			h4,
			p,
			a {
				grid-column: 1 / -1;

				svg {
					padding-top: 4px;
				}
			}
		}

		&.icon-solo {
			display: grid;
			grid-template-columns: auto 1fr;
			column-gap: 16px;
			row-gap: 12px;
			align-items: start;

			.media-container-placeholder {
				grid-column: 1;
				grid-row: 1 / -1;
				align-self: start;
			}

			h4,
			p,
			a {
				grid-column: 2;
			}

			a {
				align-self: end;
			}
		}

		&.icon-left {
			grid-template-columns: auto 1fr;
			grid-template-rows: auto auto;
			align-items: center;
			row-gap: 12px;
			column-gap: 16px;

			.media-container-placeholder,
			img {
				grid-column: 1;
				grid-row: 1;
				justify-self: start;
			}

			h4 {
				grid-column: 2;
				grid-row: 1;
				align-self: center;
			}

			p {
				grid-column: 1 / -1;
				grid-row: 2;
			}

			a {
				grid-column: 1 / -1;
				grid-row: 3;
				align-items: center;
			}
		}

		&.icon-link {
			grid-template-columns: auto 1fr;
			grid-template-rows: auto auto;
			align-items: center;
			row-gap: 12px;
			column-gap: 16px;

			.media-container-placeholder,
			img {
				grid-column: 1;
				grid-row: 1;
				justify-self: start;
			}

			a {
				grid-column: 2;
				grid-row: 1;
				justify-self: end;
				align-items: center;
			}

			h4 {
				grid-column: 1 / -1;
				grid-row: 2;
			}

			p {
				grid-column: 1 / -1;
				grid-row: 3;
			}
		}

		&.icon-top {
			row-gap: 12px;
			column-gap: 16px;

			> .media-container-placeholder,
			img {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
			}

			h4 {
				padding-top: 6px;
			}

			h4,
			p {
				justify-self: center;
				align-self: center;
				grid-column: 1 / -1;
			}

			a {
				display: flex;
				gap: 6px;
				justify-content: center;
				align-items: center;
				grid-column: 1 / -1;

				svg,
				img {
					position: static;
				}
			}
		}

		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.01);
		}
	}
}
// new

.wp-block-create-block-smart-info-box-item {
	padding: 0px;
	margin: 0px;
	position: relative;
	font-family: Inter;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a,
	span {
		margin: 0;
		padding: 0;
		all: unset;
	}
	.smart-info-box-item-container {
		position: relative;
		display: grid;
		row-gap: var(--sib-row-gap);
		column-gap: var(--sib-columns-gap);
		background: var(--sib-bg-color);
		color: var(--sib-text-color);
		padding: var(--sib-padding);
		margin: var(--sib-margin);
		border: var(--sib-border);
		border-radius: var(--sib-radius);
		box-shadow: var(--sib-shadow);

		.cta,
		.ratting-container {
			display: flex;
			gap: 4px;
			text-decoration: none;
		}
		/* Media */
		.media-container {
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--sib-media-width);
			height: var(--sib-media-width);
			background: var(--sib-media-bg);
			padding: var(--sib-media-padding);
			border-radius: var(--sib-media-radius);
			color: var(--sib-media-color);

			svg {
				width: var(--sib-icon-size);
				height: var(--sib-icon-size);
				object-fit: contain;
			}
		}

		/* Title */
		h4 {
			color: var(--sib-title-color);
			font-size: var(--sib-title-size);
			padding: var(--sib-title-padding);
		}

		/* Description */
		.description {
			color: var(--sib-desc-color);
			font-size: var(--sib-desc-font-size);
			padding: var(--sib-desc-padding);
		}

		/* CTA */
		.cta {
			display: inline-flex;
			align-items: center;
			font-weight: 600;
			font-size: var(--sib-cta-fontSize);
			gap: var(--sib-cta-gap);
			background: var(--sib-cta-bg);
			color: var(--sib-cta-color);
			padding: var(--sib-cta-padding);
			margin: var(--sib-cta-margin);
			text-decoration: none;
		}

		/* Featured badge */
		.featured-container {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			background: var(--sib-featured-bg);
			border-radius: var(--sib-featured-radius);

			top: var(--sib-featured-top);
			right: var(--sib-featured-right);
			bottom: var(--sib-featured-bottom);
			left: var(--sib-featured-left);
			p {
				color: var(--sib-featured-color);
				font-size: var(--sib-featured-fontSize);
				font-weight: 500;
				padding: var(--sib-featured-padding);
			}
		}
		&.layout-one {
			justify-items: var(--sib-content-align);
			align-items: var(--sib-content-align);
			text-align: var(--sib-text-align);
		}

		&.layout-two {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"media heading"
				"media description"
				"media rating"
				"media cta";
			align-items: start;
			text-align: var(--sib-text-align);
			justify-items: var(--sib-content-align);

			.media-container {
				grid-area: media;
			}
			h4 {
				grid-area: heading;
			}
			p {
				grid-area: description;
			}
			.ratting-container {
				grid-area: rating;
			}

			.cta {
				grid-area: cta;
				display: flex;
				align-items: center;
				text-decoration: none;
			}
		}

		&.layout-three {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"media heading"
				"description description"
				"rating rating"
				"cta cta";
			justify-items: var(--sib-content-align);
			align-items: var(--sib-content-align);
			text-align: var(--sib-text-align);

			.media-container {
				grid-area: media;
			}
			h4 {
				grid-area: heading;
			}
			p {
				grid-area: description;
			}
			.ratting-container {
				grid-area: rating;
			}

			.cta {
				grid-area: cta;
				display: flex;
				align-items: center;
				text-decoration: none;
			}
		}

		&.layout-four {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"media cta"
				"heading heading"
				"description description"
				"rating rating";
			align-items: var(--sib-content-align);
			text-align: var(--sib-text-align);

			.media-container {
				grid-area: media;
				justify-self: start;
			}
			h4 {
				grid-area: heading;
			}
			p {
				grid-area: description;
			}
			.ratting-container {
				grid-area: rating;
			}
			.cta {
				grid-area: cta;
				justify-self: end;
			}
		}

		&.layout-five {
			position: relative;
			justify-items: var(--sib-content-align);
			align-items: var(--sib-content-align);
			text-align: var(--sib-text-align);
			.media-container {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
			}
		}
	}
}

// new end
.my-tab-panel {
	.components-tab-panel__tabs {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
	}

	.components-tab-panel__tabs-item {
		display: flex;
		justify-content: center;
		justify-items: center;
		background: none;
		width: 100%;
		border: none;
		padding: 8px 0;
		font-size: 14px;
		cursor: pointer;
		color: #666;
		position: relative;
		border-bottom: 2px solid #ddd;

		span {
			display: flex;
			gap: 8px;
			justify-content: center;
			justify-items: center;
		}
	}

	.components-tab-panel__tabs-item:hover {
		color: #6f22dd;
	}

	.components-tab-panel__tabs-item.active-tab {
		color: #6f22dd;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -1.5px;
			width: 100%;
			height: 2px;
			border-bottom: 2px solid #6f22dd;
		}
	}
}

.layout-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 7px;
}

.layout-card {
	cursor: pointer;

	svg {
		color: #9ea9b2;
	}

	&.is-active {
		svg {
			color: #7c3aed;
		}
	}
}

.alignment-buttons {
	display: inline-flex;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	width: 100%;
	justify-content: space-around;
	padding: 4px;
}

.alignment-buttons button {
	background: #fff;
	border: none;
	padding: 6px 10px;
	width: 100%;
	cursor: pointer;

	span {
		color: #757575;
	}
}

.alignment-buttons button.is-active {
	background: #efe6fb;
	border: 1px solid #d6c2f5;

	span {
		color: #6f22dd;
	}
}

.alignment-buttons button:hover {
	background: #efe6fb;
}

.style-hover-buttons {
	display: inline-flex;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-weight: 400px;
	line-height: 20px;
	overflow: hidden;
	width: 100%;
	justify-content: space-around;
	padding: 4px;

	button {
		background: #fff;
		border: none;
		padding: 8px 10px;
		width: 100%;
		cursor: pointer;
	}
}

.style-border-buttons {
	display: inline-flex;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-weight: 400px;
	line-height: 20px;
	overflow: hidden;
	width: 100%;
	justify-content: space-around;
	padding: 3px;

	button {
		background: #fff;
		border: none;
		padding: 2px 0;
		width: 48px;
		height: 32px;
		cursor: pointer;
	}

	button.is-active {
		background: #efe6fb;
		border: 1px solid #d6c2f5;
		color: #6f22dd;
		border-radius: 2px;
	}
}

.style-hover-buttons button.is-active {
	background: #efe6fb;
	border: 1px solid #d6c2f5;
	color: #6f22dd;
	border-radius: 2px;
}

.style-normal-background-types-button {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;

	button {
		border: none;
		display: inline-flex;
		place-content: center;
		padding: 4px !important;
		background-color: #fff;
	}

	button.is-active {
		border-radius: 2px;
		border: 1px solid var(--Primary-2-400, #884ae3);
	}
}

.color-picker-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	span {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}
}

.components-range-control__root {
	align-items: start !important;
}

.border-width-heading-container {
	display: flex;
	margin: 16px 0;
	justify-content: space-between;
	align-items: center;

	p {
		padding: 0;
		margin: 0;
	}

	div {
		display: flex;
		justify-content: center;
		align-items: start;
		gap: 8px;
	}
}

.image-upload-box {
	position: relative;
	height: 140px;
	border: 1px solid #d6c2f5;
	border-radius: 2px;
	box-sizing: border-box;
	margin-bottom: 16px;

	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: #efe6fb;

	button {
		all: unset;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image-preview {
		width: 100%;
		height: 100%;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			cursor: pointer;
		}
	}

	.image-actions {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: end;
		justify-content: center;
		gap: 10px;
	}

	.change-image {
		background: #f0f0f0;
		color: #1e1e1e;
		border: none;
		padding: 4px 8px;
		font-size: 13px;
		width: 100%;
		cursor: pointer;
	}

	.clear-image {
		position: absolute;
		top: 4px;
		right: 4px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: none;
		background: #f0f0f0;
		color: #1e1e1e;
		font-size: 18px;
		font-weight: 600;
		line-height: 1;
		cursor: pointer;

		&:hover {
			background: #cc1818;
		}
	}
}

.components-base-control {
	margin-bottom: 0;
}

.components-base-control,
.components-range-control,
.-bb-b-bc-cbdb-qy3gpb,
.ej5x27r4 {
	margin-bottom: 0 !important;
}

.def--bb-cd-eebada-7gj15f {
	margin-bottom: 0 !important;
}
