.wp-block-create-block-smart-info-box-item {
	padding: 0px;
	margin: 0px;
	position: relative;
	font-family: Inter;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a,
	span {
		margin: 0;
		padding: 0;
		all: unset;
	}

	.smart-info-box-item-container {
		display: grid;
		row-gap: var(--container-rowGap);
		column-gap: var(--container-columnsGap);
		color: var(--container-color);
		padding: var(--container-padding);
		margin: var(--container-margin);
		border: var(--container-border);
		border-radius: var(--container-borderRadius);
		box-shadow: var(--container-boxShadow);

		.cta {
			display: flex;
			gap: 4px;
			text-decoration: none;
		}

		/* Media */
		.mediaContainer {
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--mediaContainer-width);
			height: var(--mediaContainer-height);
			background: var(--mediaContainer-backgroundColor);
			padding: var(--mediaContainer-padding);
			margin: var(--mediaContainer-margin);
			border-radius: var(--mediaContainer-borderRadius);
			color: var(--mediaContainer-color);

			svg {
				color: var(--mediaContainer-color);
				width: var(--mediaContainer-fontSize);
				height: var(--mediaContainer-fontSize);
				object-fit: contain;
			}
		}

		/* Title */
		.title {
			color: var(--title-color);
			font-size: var(--title-fontSize);
			padding: var(--title-padding);
		}

		/* Description */
		.description {
			color: var(--description-color);
			font-size: var(--description-fontSize);
			padding: var(--description-padding);
		}

		/* CTA */
		.cta {
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: var(--cta-fontSize);
			gap: var(--cta-gap);
			background: var(--cta-backgroundColor);
			color: var(--cta-textColor);
			padding: var(--cta-padding);
			margin: var(--cta-margin);
			border: var(--cta-border);
			border-radius: var(--cta-borderRadius);
			text-decoration: none;

			p {
				font-size: inherit;
				color: inherit;
			}

			svg {
				width: var(--cta-iconSize);
				height: var(--cta-iconSize);
				color: inherit;
			}
		}

		/* Featured badge */
		.featuredContainer {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			background: var(--featuredContainer-backgroundColor);
			border-radius: var(--featuredContainer-borderRadius);

			top: var(--featuredContainer-top);
			right: var(--featuredContainer-right);
			bottom: var(--featuredContainer-bottom);
			left: var(--featuredContainer-left);

			p {
				color: var(--featuredContainer-color);
				font-size: var(--featuredContainer-fontSize);
				font-weight: 500;
				padding: var(--featuredContainer-padding);
			}
		}

		&.layout-one {
			justify-items: var(--container-contentAlignment);
			align-items: var(--container-contentAlignment);
			text-align: var(--container-contentAlignment);
		}

		&.layout-two {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"media heading"
				"media description"
				"media cta";
			align-items: start;
			text-align: var(--container-contentAlignment);
			justify-items: var(--container-contentAlignment);

			.mediaContainer {
				grid-area: media;
			}

			.title {
				grid-area: heading;
			}

			.description {
				grid-area: description;
			}

			.cta {
				grid-area: cta;
				display: flex;
				align-items: center;
				text-decoration: none;
			}
		}

		&.layout-three {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"media heading"
				"description description"
				"cta cta";
			justify-items: var(--container-contentAlignment);
			text-align: var(--container-contentAlignment);

			.mediaContainer {
				grid-area: media;
			}

			.title {
				grid-area: heading;
				align-self: center;
			}

			.description {
				grid-area: description;
			}

			.cta {
				grid-area: cta;
				display: flex;
				align-items: center;
				text-decoration: none;
			}
		}

		&.layout-four {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"media cta"
				"heading heading"
				"description description";

			.mediaContainer {
				grid-area: media;
			}

			.title {
				grid-area: heading;
				align-items: var(--container-contentAlignment);
			}

			.description {
				grid-area: description;
				align-items: var(--container-contentAlignment);
			}

			.cta {
				grid-area: cta;
				justify-self: end;
				align-items: center;
			}

			text-align: var(--container-contentAlignment);
		}

		&.layout-five {
			position: relative;
			justify-items: var(--container-contentAlignment);
			align-items: var(--container-contentAlignment);
			text-align: var(--container-contentAlignment);

			.mediaContainer {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
			}

			.description {
				align-items: var(--container-contentAlignment);
				text-align: var(--container-contentAlignment);
			}
		}
	}
}