.wp-block-create-block-smart-info-box-item {
	padding: 0px;
	margin: 0px;
	position: relative;
	font-family: Inter;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a,
	span {
		margin: 0;
		padding: 0;
		all: unset;
	}

	.smart-info-box-item-container {
		display: grid;
		row-gap: var(--sib-row-gap);
		column-gap: var(--sib-columns-gap);
		color: var(--sib-text-color);
		padding: var(--sib-padding);
		margin: var(--sib-margin);
		border: var(--sib-border);
		border-radius: var(--sib-border-radius);
		box-shadow: var(--sib-shadow);

		.cta,
		.ratting-container {
			display: flex;
			gap: 4px;
			text-decoration: none;
		}

		/* Media */
		.media-container {
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--sib-media-width);
			height: var(--sib-media-height);
			background: var(--sib-media-bg);
			padding: var(--sib-media-padding);
			margin: var(--sib-media-margin);
			border-radius: var(--sib-media-radius);
			color: var(--sib-media-color);

			svg {
				color: var(--sib-icon-color);
				width: var(--sib-icon-size);
				height: var(--sib-icon-size);
				object-fit: contain;
			}
		}

		/* Title */
		h4 {
			color: var(--sib-title-color);
			font-size: var(--sib-title-size);
			padding: var(--sib-title-padding);
		}

		/* Description */
		.description {
			color: var(--sib-desc-color);
			font-size: var(--sib-desc-font-size);
			padding: var(--sib-desc-padding);
		}

		/* CTA */
		.cta {
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: var(--sib-cta-fontSize);
			gap: var(--sib-cta-gap);
			background: var(--sib-cta-bg);
			color: var(--sib-cta-color);
			padding: var(--sib-cta-padding);
			margin: var(--sib-cta-margin);
			border: var(--sib-cta-border);
			border-radius: var(--sib-cta-border-radius);
			text-decoration: none;

			p {
				font-size: inherit;
				color: inherit;
			}

			svg {
				width: var(--sib-cta-iconSize);
				height: var(--sib-cta-iconSize);
				color: inherit;
			}
		}

		/* Featured badge */
		.featured-container {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			background: var(--sib-featured-bg);
			border-radius: var(--sib-featured-radius);

			top: var(--sib-featured-top);
			right: var(--sib-featured-right);
			bottom: var(--sib-featured-bottom);
			left: var(--sib-featured-left);

			p {
				color: var(--sib-featured-color);
				font-size: var(--sib-featured-fontSize);
				font-weight: 500;
				padding: var(--sib-featured-padding);
			}
		}

		&.layout-one {
			justify-items: var(--sib-content-align);
			align-items: var(--sib-content-align);
			text-align: var(--sib-content-align);
		}

		&.layout-two {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"media heading"
				"media description"
				"media rating"
				"media cta";
			align-items: start;
			text-align: var(--sib-content-align);
			justify-items: var(--sib-content-align);

			.media-container {
				grid-area: media;
			}

			h4 {
				grid-area: heading;
			}

			p {
				grid-area: description;
			}

			.ratting-container {
				grid-area: rating;
			}

			.cta {
				grid-area: cta;
				display: flex;
				align-items: center;
				text-decoration: none;
			}
		}

		&.layout-three {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"media heading"
				"description description"
				"rating rating"
				"cta cta";
			justify-items: var(--sib-content-align);
			text-align: var(--sib-content-align);

			.media-container {
				grid-area: media;
			}

			h4 {
				grid-area: heading;
				align-self: center;
			}

			.description {
				grid-area: description;
			}

			.ratting-container {
				grid-area: rating;
			}

			.cta {
				grid-area: cta;
				display: flex;
				align-items: center;
				text-decoration: none;
			}
		}

		&.layout-four {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"media cta"
				"heading heading"
				"description description"
				"rating rating";

			.media-container {
				grid-area: media;
			}

			h4 {
				grid-area: heading;
				align-items: var(--sib-content-align);
			}

			p {
				grid-area: description;
				align-items: var(--sib-content-align);
			}

			.ratting-container {
				grid-area: rating;
			}

			.cta {
				grid-area: cta;
				justify-self: end;
				align-items: center;
			}

			text-align: var(--sib-content-align);
		}

		&.layout-five {
			position: relative;
			justify-items: var(--sib-content-align);
			align-items: var(--sib-content-align);
			text-align: var(--sib-content-align);

			.media-container {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
			}

			p,
			.description {
				align-items: var(--sib-content-align);
				text-align: var(--sib-content-align);
			}
		}
	}
}