.wp-block-create-block-smart-info-box {
	display: block !important;

	&.is-selected {
		.block-editor-button-block-appender {
			box-shadow: none;
			border: 2px solid;
			border-color: #6f22dd !important;

			button {
				width: 100%;
				justify-content: center;

				svg {
					color: #6f22dd;
				}
			}
		}
	}

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			>.block-editor-inner-blocks>.block-editor-block-list__layout {
				display: grid !important;
				grid-template-columns: repeat($i, 1fr) !important;
				gap: var(--columns-gap, 20px);
				// gap: 20px;
				margin: 0;
			}
		}
	}

	.block-editor-inner-blocks {
		background-color: transparent;
		padding: 0;
		display: block !important;
	}

	.block-editor-block-list__layout {
		margin: 0;
	}
}

.components-textarea-control__input,
.components-text-control__input {
	border-color: #ddd !important;
}

// Inspector section
.components-panel__body {
	--wp-components-color-accent: #7c3aed;

	.components-header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 16px;

		p {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 8px;
			padding: 0;
			margin: 0;
		}

		svg {
			padding: 0;
			margin: 0;
		}

		span {
			display: flex;
			justify-content: center;
			justify-content: center;
			align-items: center;
			gap: 8px;

		}

		button {
			all: unset;
		}

		.bacbb-f-c-ec-dacbbe-1f9s4va {
			gap: 0px !important;
		}

		.components-h-stack {
			gap: 0px !important;
		}
	}
}

.responsive-switcher-wrapper {
	position: relative;
	display: inline-block;
	justify-items: center;
	align-items: center;
	z-index: 9999; // stay above other content
}

.responsive-switcher {
	display: flex;
	justify-items: center;
	align-items: center;
	border: 1px solid #6f22dd;
	cursor: pointer;
	padding: 4px;

}

/* hidden by default */
.responsive-switcher__more {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column; // vertical icons
	justify-content: center;
	align-items: center;
	padding-top: 8px;
	gap: 6px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-5px);
	background: #fff;
	width: 28px;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
	transition: all 0.2s ease;
}

/* show on hover */
.responsive-switcher-wrapper:hover .responsive-switcher__more {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* button styles */
.device-btn {
	padding: 6px;
}

.device-btn.is-active {
	background: red;
}