.wp-block-create-block-smart-info-box {
	border: 1px dotted #f00;
	padding: 12px;

}

.my-tab-panel {

	.components-tab-panel__tabs {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
	}

	/* Tab button */
	.components-tab-panel__tabs-item {
		display: flex;
		justify-content: center;
		justify-items: center;
		background: none;
		width: 100%;
		border: none;
		padding: 8px 0;
		font-size: 14px;
		cursor: pointer;
		color: #666;
		position: relative;
		border-bottom: 2px solid #ddd;

		span {
			display: flex;
			gap: 8px;
			justify-content: center;
			justify-items: center;

		}
	}

	.components-tab-panel__tabs-item:hover {
		color: #6F22DD;
	}

	.components-tab-panel__tabs-item.active-tab {
		color: #6F22DD;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -1.5px;
			width: 100%;
			height: 2px;
			border-bottom: 2px solid #6F22DD;
		}
	}


}

.inspector-section {
	margin-bottom: 20px;
}

.layout-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 7px;
}

.layout-card {
	// background: #fff;
	// padding: 10px;
	cursor: pointer;

	// border-radius: 4px;
	svg {
		color: #9EA9B2;
	}

	&.is-active {
		svg {
			color: #7c3aed;
		}

	}
}

.alignment-buttons {
	display: inline-flex;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	width: 100%;
	justify-content: space-around;
	padding: 4px;
}

.alignment-buttons button {
	background: #fff;
	border: none;
	padding: 6px 10px;
	width: 100%;
	cursor: pointer;

	span {
		color: #757575;

	}
}

.alignment-buttons button.is-active {
	background: #EFE6FB;
	border: 1px solid #D6C2F5;

	span {
		color: #6F22DD;
	}
}

.alignment-buttons button:hover {
	background: #EFE6FB;
}


.style-hover-buttons {
	display: inline-flex;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-weight: 400px;
	line-height: 20px;
	overflow: hidden;
	width: 100%;
	justify-content: space-around;
	padding: 4px;
}

.style-hover-buttons button {
	background: #fff;
	border: none;
	padding: 8px 10px;
	width: 100%;
	cursor: pointer;

}


.style-hover-buttons button.is-active {
	background: #EFE6FB;
	border: 1px solid #D6C2F5;
	color: #6F22DD;
	border-radius: 2px;
}