.wp-block-create-block-smart-info-box {
	display: block !important;

	&.is-selected {
		.block-editor-button-block-appender {
			box-shadow: none;
			border: 2px solid;
			border-color: #6f22dd !important;

			button {
				width: 100%;
				justify-content: center;

				svg {
					color: #6f22dd;
				}
			}
		}
	}

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			> .block-editor-inner-blocks > .block-editor-block-list__layout {
				display: grid !important;
				grid-template-columns: repeat($i, 1fr) !important;
				gap: var(--columns-gap, 20px);
				// gap: 20px;
				margin: 0;
			}
		}
	}

	.block-editor-inner-blocks {
		background-color: transparent;
		padding: 0;
		display: block !important;
	}

	.block-editor-block-list__layout {
		margin: 0;
	}
}

.components-textarea-control__input,
.components-text-control__input {
	border-color: #ddd !important;
}

// Inspector section
.components-panel__body {
	--wp-components-color-accent: #7c3aed;

	.components-header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 16px;

		p {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 8px;
			padding: 0;
			margin: 0;
		}
		svg {
			padding: 0;
			margin: 0;
		}

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
		}

		button {
			all: unset;
		}
		.bacbb-f-c-ec-dacbbe-1f9s4va {
			gap: 0px !important;
		}
		.components-h-stack {
			gap: 0px !important;
		}
	}
}
