.wp-block-create-block-smart-info-box {
	display: block !important;

	&.is-selected {
		.block-editor-button-block-appender {
			box-shadow: none;
			border: 2px solid;
			border-color: #6f22dd !important;

			button {
				width: 100%;
				justify-content: center;

				svg {
					color: #6f22dd;
				}
			}
		}
	}


	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			>.block-editor-inner-blocks>.block-editor-block-list__layout {
				display: grid !important;
				grid-template-columns: repeat($i, 1fr) !important;
				gap: var(--columns-gap, 20px);
				// gap: 20px;
				margin: 0;
			}
		}
	}

	.block-editor-inner-blocks {
		background-color: transparent;
		padding: 0;
		display: block !important;
	}

	.block-editor-block-list__layout {
		margin: 0;
	}

}

.components-textarea-control__input,
.components-text-control__input {
	border-color: #ddd !important;

}


// child scss